:root {
    /* overflow: hidden; */
    box-sizing: border-box;
}

#arena {
    position: relative;
    border: solid 4px black;
    height: 75vh;
    width: 75vw;
    position: relative;
    margin: 10vh auto;
}

#targetSpawner {
    position: relative;
    border: solid 4px red;
    height: 10vh;
}

#projectileSpawner {
    position: absolute;
    border: solid 4px purple;
    bottom: 0px;
    width: 100%;
    margin: 0 auto;
    margin-left: 50%;
    transform: translate(-50%);

}

#player {
    position: absolute;
    bottom: 2%;
    border: solid 4px blue;
    height: 5vw;
    width: 5vw;
    left: 50%;
    transform: translate(-50%);
}

.projectile {
    position: absolute;
    height: 10px;
    width: 10px;
    border: 2px solid rgb(0, 255, 17);
    left: 50%;
    display: block;
    transform: translate(-50%);
    top: 0px;
    /* animation: fire 10s;
    animation-fill-mode: forwards;
    animation-timing-function: linear; */
}

.target {
    position: absolute;
    height: 5vw;
    width: 5vw;
    border: solid 4px rebeccapurple;
    background-color: blue;
    top: 0px;
}

/* @keyframes drop {
    from    {  top: -10px; }
    100%     { top: 110vh; }
} */

/* player styles */
#playerBox {
    height: 10vh;
    position: relative;
    top: 80vh;
    border: solid 5px green;
}


/* @keyframes fire {
    from { display: block; }
    100% { transform: translate(0%, -100vh); }
} */